<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="MailKit" version="1.16.2" targetFramework="net452" />
  <package id="MimeKit" version="1.16.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net452" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net452" />
</packages>